<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="curso">
            <h2><span jhiTranslate="alunoWebApp.curso.detail.title">Curso</span> {{ curso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="alunoWebApp.curso.nomeCurso">Nome Curso</span></dt>
                <dd>
                    <span>{{ curso.nomeCurso }}</span>
                </dd>
                <dt><span jhiTranslate="alunoWebApp.curso.dataCriacao">Data Criacao</span></dt>
                <dd>
                    <span>{{ curso.dataCriacao }}</span>
                </dd>
                <dt><span jhiTranslate="alunoWebApp.curso.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ curso.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="alunoWebApp.curso.logoCurso">Logo Curso</span></dt>
                <dd>
                    <div *ngIf="curso.logoCurso">
                        <a (click)="openFile(curso.logoCursoContentType, curso.logoCurso)">
                            <img [src]="'data:' + curso.logoCursoContentType + ';base64,' + curso.logoCurso" style="max-width: 100%;" alt="curso image"/>
                        </a>
                        {{ curso.logoCursoContentType }}, {{ byteSize(curso.logoCurso) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="alunoWebApp.curso.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'alunoWebApp.TipoCurso.' + curso.tipo }}">{{ curso.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="alunoWebApp.curso.turma">Turma</span></dt>
                <dd>
                    <div *ngIf="curso.turma">
                        <a [routerLink]="['/turma', curso.turma?.id, 'view']">{{ curso.turma?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/curso', curso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
